.js_newline {
    white-space: pre-line;
}

a {
    color: rgb(207, 207, 207);
    font-weight: bold;
    text-decoration: none;
}

table, th, td
{
    border: 1px solid white;
    padding: 10px 10px 10px 10px
}

table{
    border-collapse: collapse;
}

.font_bold
{
    font-weight: bold;
}

.font_large
{
    font-size: 26px;
}

.font_medium
{
    font-size: 20px;
}

.font_small
{
    font-size: 16px;
}

.box
{
    border: 2px solid white;
}

.default_button
{
    font-size: 16px;
    padding: 2px 50px;
}

.default_textbox
{
    background-color: rgb(103, 56, 103);
    color: white;
    width: 300px;
}

.default_inline
{
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    gap: 15px;
    align-items: start;
}

.default_inline_row
{
    display: flex;
    flex-direction: row;
    margin: 15px 15px;
    gap: 15px;
    align-items: start;
}

.default_content
{
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    gap: 15px;
    align-items: start;
}

.default_content p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #18191B;
    color: white;
    font-family: Arial;
}

.header {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    flex-direction: column;
    margin-top: -35px;
    margin-left: 15px;
}

.header_content
{
    margin-top: 70px;
}

.header_inline
{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #18191B;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 20px;
}

.seperator {
    width: 100%;
    height: 3px;
    background-color: #444;
    margin-bottom: 8px;
}

.login_box {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    width: 400px;
    height: 310px;
    border: 3px solid white ;
    align-items: center;
    gap: 20px
}

.login_content
{
    align-self: flex-start;
    margin-left: 15px;
    margin-top: -5px;
    margin-bottom: -5px;
    width: 90%;
}

#divCookies
{
    position: fixed;
    bottom: 100px;
    left: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    width: 600px;
    height: 150px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 20px;
    background-color: rgb(43, 6, 59);
    z-index: 999;
}

#divCookies > * {
    max-width: 97%;
}

#btnLogin
{
    margin: 20px 10px;
    padding: 5px 80px;
}

#divUnderConstruction
{
    display: flex;
    flex-direction: column;
    border: 3px solid orange;
    width: 400px;
    height: 150px;
    margin: 0px auto;
    align-items: center;
    color: yellow
}

#tblUserHeader
{
    text-align: right;
    margin-left: auto;
    margin-right: 30px;
    font-size: 26px
}

#tblLinkAdmin
{
    visibility: hidden;
}