table, th, td
{
    border: 1px solid white;
    padding: 10px 10px 10px 10px
}

table{
    border-collapse: collapse;
}

.font_bold
{
    font-weight: bold;
}

.font_large
{
    font-size: 26px;
}

.font_medium
{
    font-size: 20px;
}

.font_small
{
    font-size: 16px;
}

.default_button
{
    font-size: 16px;
    padding: 2px 50px;
}

.default_textbox
{
    background-color: rgb(103, 56, 103);
    width: 300px;
}

.default_inline
{
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    gap: 15px;
    align-items: start;
}

.default_content
{
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    gap: 15px;
    align-items: start;
}

.default_content p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #18191B;
    color: white;
    font-family: Arial;
}

.header {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    flex-direction: column;
    margin-top: -35px;
    margin-left: 15px;
}

.header_inline
{
    display: flex;
    flex-direction: row;
}

.footer
{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%;
    margin-left: 15px;
    font-size: 20px
}

.seperator {
    margin: -25px 0px 10px;
    height: 2px;
    width: 99%;
    background: white;
}

.login_box {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    width: 400px;
    height: 290px;
    border: 3px solid white ;
    align-items: center;
    gap: 20px
}

.login_content
{
    align-self: flex-start;
    margin-left: 15px;
    margin-top: -5px;
    margin-bottom: -5px;
    width: 90%;
}

#divCookies
{
    position: fixed;
    visibility: hidden;
    bottom: 100px;
    left: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    width: 600px;
    height: 150px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 20px;
    background-color: rgb(43, 6, 59);
    z-index: 999;
}

#divCookies > * {
    max-width: 97%;
}

#btnLogin
{
    margin: 20px 10px;
    padding: 5px 80px;
}

#divUnderConstruction
{
    display: flex;
    flex-direction: column;
    border: 3px solid orange;
    width: 400px;
    height: 150px;
    margin: 0px auto;
    align-items: center;
    color: yellow
}

#tblUserHeader
{
    text-align: right;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 80px;
    font-size: 26px
}